---
import Layout from "@/layouts/Layout.astro";
import { CDN_URL } from "@/config";
---

<Layout
  title="About ACIMU"
  description="Learn about our mission, vision, and the talented team behind our award-winning designs."
>
  <div class="about-page container">
    <section class="about-intro">
      <!-- <h1>Acerca de nosotros</h1> -->
      <p>
        En ARQUITECTOS CINCO+UNO buscamos plasmar las ideas de nuestros clientes
        en espacios confortables. Somos un equipo de seis profesionales
        enfocados en crear soluciones eficientes e innovadoras que se ajusten a
        los requerimientos de cada persona. En cada proyecto buscamos fusionar
        la estética, técnica y funcionalidad, trabajamos de la mano con cada
        usuario a fin de mejorar su calidad de vida y habitabilidad.
      </p>
    </section>

    <section class="about-team">
      <img src={`${CDN_URL}/equipo/equipo-about.webp`} alt="Equipo ACIMU" />
    </section>

    <section class="mission-vision">
      <div class="item">
        <h2>Misión</h2>
        <p>
          Construir el bienestar de quienes confían en nosotros aportando
          soluciones arquitectónicas innovadoras y sistemas estructurales
          eficientes.
        </p>
      </div>
      <div class="item">
        <h2>Visión</h2>
        <p>
          Posicionarnos como referentes en la arquitectura para el bienestar,
          extendiendo nuestros servicios a cada persona que sueña en construir
          su futuro.
        </p>
      </div>
    </section>

    <section class="team">
      <h2>Nuestro Equipo</h2>
      <div class="grid">
        <div class="team-member">
          <img
            src={`${CDN_URL}/equipo/lizeth_narvaez.webp`}
            alt="Team Member - Lizeth Narvaez"
          />
          <h3>Lizeth Narvaez</h3>
        </div>
        <div class="team-member">
          <img
            src={`${CDN_URL}/equipo/dayana_chiguano.webp`}
            alt="Team Member - Dayana Chiguano"
          />
          <h3>Dayana Chiguano</h3>
        </div>
        <div class="team-member">
          <img
            src={`${CDN_URL}/equipo/tatiana_paucar.webp`}
            alt="Team Member - Tatiana Paucar"
          />
          <h3>Tatiana Paucar</h3>
        </div>
        <div class="team-member">
          <img
            src={`${CDN_URL}/equipo/esteban_caiza.webp`}
            alt="Team Member - Esteban Caiza"
          />
          <h3>Esteban Caiza</h3>
        </div>
        <div class="team-member">
          <img
            src={`${CDN_URL}/equipo/byron_peralta.webp`}
            alt="Team Member - Byron Peralta"
          />
          <h3>Byron Peralta</h3>
        </div>
        <div class="team-member">
          <img
            src={`${CDN_URL}/equipo/bryan_silva.webp`}
            alt="Team Member - Bryan Silva"
          />
          <h3>Bryan Silva</h3>
        </div>
      </div>
    </section>

    <!-- <section class="awards">
        <h2>Awards & Recognitions</h2>
        <ul>
            <li><span>2023</span> Global Design Award for Sustainable Architecture</li>
            <li><span>2022</span> National Architects Guild - Firm of the Year</li>
            <li><span>2021</span> "Golden Pillar" for Innovative Commercial Design</li>
            <li><span>2020</span> "Green Build" Award for Eco-Friendly Construction</li>
        </ul>
    </section> -->
  </div>
</Layout>

<style>
  .about-page {
    padding: var(--spacing-xl) 0;
  }
  .team,
  .awards,
  .about-team {
    padding: var(--spacing-xl) 0;
  }
  .about-intro {
    height: 35vh;
    display: flex;
    padding-top: var(--spacing-xl);
    align-items: flex-end;
    justify-content: flex-end;
  }
  h1,
  h2 {
    text-align: center;
    margin-bottom: var(--spacing-lg);
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .about-intro p {
    max-width: 700px;
    text-align: justify;
    font-size: 1.2rem;
  }
  .about-team img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);
  }

  .mission-vision {
    display: flex;
    height: 70vh;
    gap: var(--spacing-lg);
    justify-content: center;
    align-items: center;
  }
  .mission-vision .item {
    max-width: 400px;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: var(--spacing-lg);
  }
  .team-member {
    text-align: center;
  }
  .team-member img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: var(--spacing-md);
  }
  .team-member h3 {
    margin: 0;
  }

  .awards ul {
    max-width: 600px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
  }
  .awards li {
    border-bottom: 1px solid var(--color-muted);
    padding: var(--spacing-md) 0;
  }
  .awards li span {
    font-weight: bold;
    color: var(--color-primary);
    margin-right: var(--spacing-md);
  }

  @media screen and (max-width: 769px) {
    .about-intro {
      margin-top: var(--spacing-xl);
      padding: var(--spacing-xl) 0;
      height: auto;
      align-items: center;
      text-align: center;
    }

    .grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .about-team {
      padding: var(--spacing-lg) 0;
    }

    .about-intro p {
      padding: 0 var(--spacing-md);
      text-align: justify;
      font-size: 1rem;
    }
    .mission-vision {
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1920px) {
    .about-intro {
      height: 40vh;
    }
  }
</style>
