---
export const prerender = true;
import Layout from '@/layouts/Layout.astro';
import InfiniteCarousel from '@/components/InfiniteCarousel.astro';
import projects from '@/data/projects';

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { title, description, location, startDate, type, imageUrl, images } =
  Astro.props.project;

const date = new Date(startDate);
const month = date.toLocaleDateString('es-ES', { month: 'long' });
const year = date.getFullYear();
const capitalizedMonth = month.charAt(0).toUpperCase() + month.slice(1);
const formattedDate = `${capitalizedMonth}, ${year}`;
---

<Layout title={title} description={description}>
  <div class="container">
    <div class="title">
      <h1>{title}</h1>
    </div>
    <article class="project-detail">
      <div class="info">
        <h1>Descripcion General</h1>
        <h4>Inicio del Proyecto: {formattedDate}</h4>
        <h4>Tipo de Construcción: {type}</h4>
        <p>{description}</p>
      </div>
      <div class="hero">
        <div class="hero-image-container">
          <div class="hero-image">
            <InfiniteCarousel images={images} direction="up" />
          </div>
          <div class="hero-image">
            <InfiniteCarousel images={images} direction="down" />
          </div>
        </div>
        <h4>{location}</h4>
      </div>
    </article>
  </div>
</Layout>

<style>
  .title {
    margin-top: 15rem;
  }
  .title h1 {
    color: var(--color-primary);
    font-family: var(--font-complex);
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: var(--spacing-sm);
  }
  .project-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-items: center;
  }

  .hero-image-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 70vh;
  }

  .hero-image {
    width: 49%;
  }

  .hero {
    text-align: right;
  }

  .project-detail .info h1 {
    margin-bottom: 1rem;
  }

  .project-detail .info p {
    line-height: 1.7;
    white-space: pre-wrap;
    text-align: justify;
  }

  @media (max-width: 768px) {
    .project-detail .info {
      padding-right: 0;
    }
    .title h1 {
      font-size: 2rem;
    }
  }
</style>
